.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 700px;
  margin: 10px auto; /* hoger op pagina */
  padding: 20px;
  text-align: center;
}

.movie-detail img {
  width: 220px;
  border-radius: 10px;
  margin: 15px 0;
}

.movie-detail h1 {
  margin-bottom: 10px;
}

.movie-detail p {
  margin: 5px 0;
  line-height: 1.4;
}